.headerbutton{
	display:inline-block;
}
.headerBtn{
	padding: 5px 10px;
	border-radius:40px;
	border-width: 2px ;
	border-style: solid;
	border-color:rgba(82, 222, 255, 0.6);
	// border-image: linear-gradient(to bottom, rgba(82, 222, 255, 0.6),rgba(226, 142, 255, 0.36));
	text-align:center;
	color:rgba(82, 222, 255, 1);
	background-color: transparent;
	display: inline-block;
	transition: 0.2s ease-in;
	font-size: 1.2em;

	&:hover{
		background-color: rgba(82, 222, 255, 0.6);
		color: white;
	}
}

