.banner {
	background-image: url(../images/splash_image.jpg);
	background-position: center center;
	background-size: cover;
	
	position: relative;
	min-height: 300px;
	width: 100%;
	margin: 0 auto;
	/*padding: 5px 10px;*/
	padding: 14em 0em 14em;
	text-align: center;

	h2 {
		color: #ffffff;
		font-size: 4em;
		line-height: 1.25em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

	p {
		font-size: 1.5em;
		margin-bottom: 1.75em;
	}
}

.banner :last-child {
	margin-bottom: 0;
}

.banner-form {
	/*background: inherit;*/
	color: black;
	width: 30%;
	/*padding: 5px 10px;*/
	border-radius: 8px;
	margin: 0 auto;
}

.banner-form-group {
	width: 100%;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 8px;
}

.banner-form-message {
	position: relative;
	width: 100%;
	margin: 4px auto;
	background-color: white;
	border-radius: 4px;
	color: red;
}

.banner-form-btn {
	position: relative;
	width: 80px;
	margin: 0 5px;
	text-align: center;
}

.google-form-btn {
	width: 200px;
}

.banner-form-group-label{
	display: none;
}