.answers-containers{
	width: 80%;
	height: 600px;
	border-color: black;
	border-style: double;
	
}

.answers-panel{
	width:38%;
	height:200px;
	border-color: black;
	border-style: double;
	border-width: 3px;
	margin-left: 3%;
	margin-top:3%;
}
.answers-content{
	padding-top: 15%;
	padding-left: 13%
}
.answers-addNew{
	border-style:dotted;
	border-width:3px;
}
.answers-delete{
	margin-left: 86%;

}
.answers-add{
	margin-top:10%;
	margin-left:35%
}

#save-button {
	background-color: #008287;
	color: #fff;
	width: 330px;
	text-align: left;
	padding: 10px 20px;
	height: auto;
	color: #000;
	background-color: #ccc;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
	font-smooth: always;
}

#newQ-img{
	border-color:black;
	border-width:1px;
	border-style: dotted;
	width:80%
}


.save-button {
	background-color: #008287;
	color: #fff;
	width: 330px;
	text-align: left;
	padding: 10px 20px;
	height: auto;
	color: #000;
	background-color: #ccc;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
	font-smooth: always;
}