
.answer{
	width:100%;
	height:100%;
	height: 120px;
	background-color: #9C979C;
	color: white;
	border-radius: 5px;
	margin-bottom: 20px;
	display: inline-block;
	line-height:120px;
	text-align: center;
	cursor:pointer;

	// line-height: 3.2rem;

  	p{
		margin: 0;
		font-size: 3rem;
		font-style: bold;
	}

}

.answerText{
	display: inline-block;
  	vertical-align: middle;
	line-height: 3.2rem;

  	p{
		margin: 0;
		font-size: 3rem;
		font-style: bold;

	}
}


.darkBg{
	background-color: black;
	padding:5px;
}



.questionText{
	margin: 20px 0;
}

.studentSelectBlock{
	height:50%;
}

.half-height{
	height:50%;
	padding:12px;
}

.full-height{
	height:100%
}

.block0{
	background-color: #E34357;
};

.block1{
	background-color: #F8E71C;
};

.block2{
	background-color: #4A90E2;
};

.block3{
	background-color: #B16AEF;
};