.waiting-jumbotron {
	/*padding-top: 0;*/
	text-align: left;

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #474747;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

	h1 {
		margin-bottom: 0.2em;
	}
}

h1 {
	font-weight: 400;
}

.waiting-h1 {
	margin-bottom: 0.2em;
}

.quizPage{
	/*position:absolute;*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 100%;
	transition: 0.7s ease-in-out;

	&.active{
		left: 0%;
	}
}

.waitingPage{
	/*background-color: #E85B5B;*/
	background-color: #eee;
	color: #000;
}
.quizWaiting-main{
	text-align: center;
}

.waiting-infoCenter {
	padding: 0 10% 0 10%;
}