<div class="container">
	<div class="row">
		<div class="col-md-4">Industrial revolution</div>
		<div class="col-md-4">question 4/5</div>
		<div class="col-md-4">Code : 2308</div>
	</div>

	<div class="container-fluid">
		<h1>Wich invention started the industrial revolution ?</h1>
		<div class="row answers">
			<div class="col-xs-6">
				<div class="answer">
					<p>Internet</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="answer">
					<p>Gun powder</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="answer">
					<p>Steam engine</p>
				</div>
			</div>
		</div>
	</div>


</div>
