<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Quizzes <a href="" ng-click="open()"><button class="btn btn-primary">New quiz</button></a></h1>
			
		<!-- START -->
		


			<div class="row">
				<div class="col-md-3" ng-repeat="quiz in quizArray">
					<div class="quizCard">
						<div class="quizCard-content">
							<div class="quizCard-title">
								<h2> {{quiz.Name}} </h2>
								<p class="quizCard-date">{{quiz.Date}}</p>
							</div>

							<div>
								<div ng-repeat="tag in quiz.TAG" class="quizCard-tag">{{tag}}</div>
								<!--<div class="quizCard-tag">Unit3</div>-->
							</div>
							
						</div>
							
						<div class="quizCard-btn">
							<div class="col-xs-3 quizCard-btn-side">
								<a href="">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									<p>Results</p>	
								</a>
							</div>
							<div class="col-xs-6 quizCard-btn-main">
								<a href="" ng-click="launchSession({{quiz.$id}})">
									<span class="glyphicon glyphicon-play quizCard-play" aria-hidden="true"></span>
									<p class="no-margin">Launch</p>
								</a>
							</div>
							<div class="col-xs-3 quizCard-btn-side">
								<a href="">
									<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
									<p>Edit</p>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		<!-- END -->
		
		</div>
	</div>
	
</div>

<ng-include src="'views/footer.html'"></ng-include>

