<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-md-8">
					<h1>Quizzes <a href="" ng-click="open('lg')"><button class="btn btn-primary">New quiz</button></a></h1>
				</div>
				<div class="col-md-4">

					<div class="input-group quizSearch"> 
						<span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-search"></span></span> 
						<input type="text" class="form-control" ng-model="quizFilter" id="basic-url" aria-describedby="basic-addon3"> 
					</div>
				</div>
			</div>
			
		<!-- START -->
		

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="quiz in quizArray | filter:quizFilter">
					<div class="quizCard">
						<div class="quizCard-content">
							<h2> {{quiz.Name | limitTo : 45}} </h2>
							<p class="quizCard-date">{{quiz.Date}}</p>
							<div class="quizCard-trash" ng-click="deleteQuiz(quiz.$id)"><span class="glyphicon glyphicon-trash"></span></div>

							<div>
								<div ng-repeat="tag in quiz.TAG" class="quizCard-tag">{{tag}}</div>
								<!--<div class="quizCard-tag">Unit3</div>-->
							</div>
							
						</div>
							
						<div class="quizCard-btn">
							<div class="col-xs-3 quizCard-btn-side">
								<a href="" uib-tooltip="Coming soon!">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									<p>Results</p>	
								</a>
							</div>
							<div class="col-xs-6 quizCard-btn-main">
								<a href="" ng-click="launchSession(quiz.$id)">
									<span class="glyphicon glyphicon-play quizCard-play" aria-hidden="true"></span>
									<p class="no-margin">Launch</p>
								</a>
							</div>
							<div class="col-xs-3 quizCard-btn-side">
								<a href="" ng-click="edit(quiz.$id)">
									<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
									<p>Edit</p>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		<!-- END -->
		
		</div>
	</div>
	
</div>

<ng-include src="'views/footer.html'"></ng-include>

