<div class="header" ng-cloak="" ng-controller="HeaderCtrl">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/">
					<img class="hidden-xs" src="../images/qwizard_logotype.png" width="237" height="56">
					<img class="visible-xs" src="../images/qwizard_logotype.png" width="118" height="28">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">

				<ul class="nav navbar-nav">
					<!-- <li class="active"><a href="#/">Home</a></li> -->
					<!-- //angularfire -->
					<!-- <li><a ng-href="#/chat">chat</a></li> -->

					<!-- <a class="btn btn-lg btn-success" ng-href="#/dashboard">My Quizzes</a> -->

					<li>
						<a id ="headerbutton" ng-hide-auth="" href="#/login">log in</a>
						<a id ="headerbutton" ng-show-auth="" href="#/account">My Account</a>
						<a id ="headerbutton" href="#/dashboard">My Quizzes</a>
					</li>

					

				</ul>
			</div>
		</div>
	</div>
</div>