<ng-include src="'views/header.html'"></ng-include>


<div class="jumbotron">
	<img id="splashimage" src="../images/splash_image.jpg">
	<div>
		<img id="phoneimage" src="../images/phone.png">
		<p id="description">Qwizard is a fun way to take class quizzes, without the hassle of distributing quizzes on paper. It's the best way to keep students engaged in your lesson, without interrupting your teaching flow.</p>
		<p id="description">How it Works:<br>Teachers can create any kind of quiz in seconds, or choose from an open library of quizzes. The quiz is then shown on a screen or projector. Students connect to your quiz by entering a 4-digit quiz code on their device. Then you perform the quiz at your own pace, and see instant answers from your students. It's a lot of fun and very easy. We promise!</p>
	</div>

	  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/dashboard">Go to dashboard<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<ng-include src="'views/footer.html'"></ng-include>

