<ng-include src="'views/header.html'"></ng-include>


<div class="jumbotron">
	<img id="splashimage" src="../images/splash_image.jpg">
	<div>
		<img id="phoneimage" src="../images/phone.png">
		<p id="description">Lorem ipsum dolor sit amet, prima referrentur complectitur id sit, mea ne adhuc harum sententiae, no modo natum probatus mea. Mel te melius sensibus, vis ne congue ignota accommodare. Nam no oratio definitiones, et pri natum solum. Ius te tritani salutatus, ea vide paulo putent cum, vix nostro regione ex.

Nam ut feugiat accumsan. Ex cum natum nonumy, sed eu quot nibh oratio. Sanctus inciderint omittantur id his. Pri ut fuisset invidunt dignissim, autem appareat quo te.</p>
	</div>

	  <p><a class="btn btn-lg btn-success" ng-href="#/dashboard">Go to dashboard<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<ng-include src="'views/footer.html'"></ng-include>

