<ng-include src="'views/header.html'"></ng-include>


<div class="jumbotron">

	<div class="poster">
		<img id="splashimage" src="images/banner.png">
		<h2 id="poster-helper">Qwizard, a tool for creating awesome and fun quizzes. Try it now!</h2>
		<div id="quizcodebox" ng-controller="StuHomeCtrl">
				<p class="error" ng-hide="{{errorMessage==''}}" style="opacity: 1">{{errorMessage}}</p>
				<h3 id="quizcodebox-title">Join a quiz !</h3>
				<input ng-model="quizCode" type="number" id="quizcode" class="form-control" placeholder="Quiz code">
				<input ng-model="playerName" id="studentName" class="form-control" placeholder="Your name">
				<button class="button big" ng-click="connectToQuiz()">Join</button>
			</div>
		<!-- <div class="row" id="student-login">
			<div id="quizcodebox" ng-controller="StuHomeCtrl">
				<p class="error" ng-hide="{{errorMessage==''}}" style="opacity: 1">{{errorMessage}}</p>
				<h3 id="quizcodebox-title">Join a quiz !</h3>
				<input ng-model="quizCode" type="number" id="quizcode" class="form-control" placeholder="Quiz code">
				<input ng-model="playerName" id="studentName" class="form-control" placeholder="Your name">
				<button class="button big" ng-click="connectToQuiz()">Join</button>
			</div>
		</div> -->
	</div>

	<div class="container" id="main-dashboard" style="width:100%; background:white;">
		

		<div class="row">
			<div class="span6 col-sm-6">
				<img class="img-responsive" id="phoneimage" src="images/main-ipad.jpg" style="padding-top:40px">	

			</div>
			<div class="span6 col-sm-6 vcenter" style="padding-right:8%">
				<h2 style="font-family: initial;"><strong>Qwizard</strong></h2>
				<p id="description"><strong>Qwizard</strong> is a fun way to take class quizzes, without the hassle of distributing quizzes on paper. It's the best way to keep students engaged in your lesson, without interrupting your teaching flow.</p>
				<p id="description"><strong>How it Works:</strong><br>Teachers can create any kind of quiz in seconds, or choose from an open library of quizzes. The quiz is then shown on a screen or projector. Students connect to your quiz by entering a 4-digit quiz code on their device. Then you perform the quiz at your own pace, and see instant answers from your students. It's a lot of fun and very easy. We promise!</p>
			</div>
		</div>

		<div class="row" id="main-mail-wrapper">
			<div class="col-sm-12" id="main-email" >
				<h2 class="main-mail-center no-margin" style="color: rgb(90, 0, 90); font-family: helvetica;"> 
					<strong>It's exquisite, it's Qwizard!</strong> <small style="color:#600660">Want to try it?</small></br>
					<small style="color: purple;"> it's currently in Beta.</small>  
				</h2>
			</div>
				
			
		</div>

	</div>


	<!--<div id="f" style="background: rgb(155, 182, 255);padding-top: 30px;padding-bottom: 30px; height: 200px;">
			<div class="row centered" style="text-align: center;">
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
			</div>
	</div> -->
</div>



<ng-include src="'views/footer.html'"></ng-include>

