<section class="newquiz">
	<div class="col-md-8 col-md-offset-2">
		<h1>New quiz</h1>
		<label class="newquiz-label" for="quizTitle">Title</label>
		<input class="newquiz-input" id="quizTitle" type="text" ng-model="title">

		<label for="quizTags">Tags</label>
		<tags-input id="quizTags" type="text" ng-model="tags"></tags-input>


		<div class="newquiz-btn-group btn-group">
			<button type="button" class="newquiz-btn-group-btn btn btn-success" ng-click="newQuiz(title)"> New quiz </button>
			<button type="button" class="newquiz-btn-group-btn btn btn-default" ng-click="close()"> Cancel </button>
		</div>
	</div>
</section>
