<ng-include src="'views/header.html'"></ng-include>
<div class="mainContent" id= "mainWrapper">
	<header>
    	<!-- This is the header content. It contains Logo and links -->

    <div id="head" style="margin-left:13%">
      	<input id="title" type="text" ng-model="quiz.Name"/>
      	&nbsp;
    </div>
    
	</header>

   

	<div id="newQ-container" style="margin-left:13%">
    	<div id="question-option">
            <h3 id="Question_type">Question type</h3>
            <div class="btn-group">
             

               
    		<form>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  Multiple choice
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Open Answers
                </label>
              </div>
              <div class="question-time">
                <form > Time: <input type="number" id="numOfGuests" class="form-control" min="1" style="width:60px" ng-model="questionTime"></form></li>
              </div>
              
            </form>



            <!--<ul class="nav nav-pills">
		      <li role="presentation" class="active"><a href="#">Multiple choice</a></li>
		      <li role="presentation"><a href="#">Open answer</a></li>
              <li style=" margin-left: 48%"> <form > Time: <input type="number" id="numOfGuests" class="form-control" min="1" style="width:60px" ng-model="questionTime"></form></li>
		    </ul>
        -->
    	</div>
    	<div id="newQ-navigator" >
            <ol class="breadcrumb question-nav" style="background-color:white">
              <li><a href="#">Question 1 </a></li>
              <li><a href="#">Question2 </a></li>
              <li class="active">Question 3</li>
              <li>You have 3/6</li>
            </ol>
        </div>
    	<div id="newQ-img">
            <div class="answers-option">
                <span class="glyphicon glyphicon-picture answers-addImg" aria-hidden="true"></span>
            </div>
            <input type="text" placeholder="Type your question here" name="questionTitle" ng-model="questionName"/>
    		<!--<img src="../images/question-img.jpg" alt="..." class="img-rounded" style="height: 38%; width: 60%;">-->
    	</div>
    	<div class="answers-containers">
    		<div class="answers-panel col-sm-6 col-md-4 col-lg-3 " ng-repeat="answer in answerArray">
    			<div class="answers-option">
    				<span class="glyphicon glyphicon-picture answers-addImg" aria-hidden="true"></span>
    				<span class="glyphicon glyphicon-minus answers-delete" aria-hidden="true"></span>
    			</div>
    			<input type="text" class="answers-content" placeholder="Type your answer" ng-model="answer.Name"/>
    			<input type="checkbox" name="your-group" value="unit-in-group" />Correct Answer
    		</div>
    		<div class="answers-panel answers-addNew col-sm-6 col-md-4 col-lg-3 ">
    			<button type="button" class="btn btn-default btn-lg answers-add" ng-click="addAnswerToArray({IsCorrect: '', Name: ''})"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
    			<h1 class="answers-content">Add new</h1>
    		</div>

    	</div>

    </div> 
    <div id="quiz-button">
            <button class="big save-button" ng-click="addQuestion()"><strong>New Question</strong></button>
            <button class="big save-button" style="margin-top: 10px;"><strong>Save Quiz</strong></button>
    </div>

</div>

























