<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>New quiz</h1>
		<label for="quizTitle">Title</label>
		<input id="quizTitle" type="text" ng-model="title">

		<label for="quizTags">Tags</label>
		<tags-input id="quizTags" type="text" ng-model="tags"></tags-input>

		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="close()"> Cancel </button>
			<button type="button" class="btn btn-success" ng-click="newQuiz(title)"> New quiz </button>
		</div>
	</div>
</div>