<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid">
	<div class="row">
		<a href="#/dashboard">
			<h2><span class="glyphicon glyphicon-chevron-left"></span> Back</h2>
		</a>
	</div>
	<div class="row">

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th ng-repeat="(key,question) in questions" title="{{question.Name}}">
						
						{{question.Name}}
					</th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="results in resultArray">
					<th>{{results.$id}}</th>
					

					<td ng-repeat="(key,question) in questions" ng-hide="key=='Active'" class="resultCell" ng-class="{correctCell:questions[key].answers[results[key]].IsCorrect, incorrectCell:questions[key].answers[results[key]].IsCorrect==false}" title="{{questions[key].answers[results[key]].Name}}">
						<!-- <span ng-if="questions[key].answers[results[key]].IsCorrect" class="glyphicon glyphicon-ok"></span>
						<span ng-if="questions[key].answers[results[key]].IsCorrect == false" class="glyphicon glyphicon-remove"></span> -->
						{{questions[key].answers[results[key]].Name}}
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	
</div>

<ng-include src="'views/footer.html'"></ng-include>
