<!-- <section id="answers"> 
<div class="container" style="width: 70%; max-width: 1200px">
		<header class="major">

			<h2>The correct answer is</h2>
				<div align="center">
					<hr width="50%">
				</div>
				<div class="6u$ 12u$(medium)">
					<div class="box">
						<i class="icon big rounded color1 fa-cloud">A</i>
					</div>
				</div>


		<div id="correctAnswer">
		Display one answer from the set of answers selected


			</div>

</div>


</section> -->

<div class="studentResult" ng-class="{studentCorrect:currentAnswer.IsCorrect, studentIncorrect:!currentAnswer.IsCorrect}">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1" >
				<div ng-if="currentAnswer.IsCorrect">
					<h1>Correct</h1>
					<span class="glyphicon glyphicon-ok studentResultIcon"></span>
				</div>

				<div ng-if="!currentAnswer.IsCorrect">
					<h1>Incorrect</h1>
					<span class="glyphicon glyphicon-remove studentResultIcon"></span>
				</div>
			</div>
		</div>
		<div class="row answers">
			<h3 class="center">The answer is :</h3>
			<div ng-if="answer.IsCorrect" class="col-md-8 col-md-offset-2 col-xs-12" ng-repeat="(key, answer) in session.CurrentQuestion.Answers">
				<h3>{{answer.Name}}</h3>
			</div>
		</div>

		<div class="row answers" ng-hide="{{currentAnswer.IsCorrect || currentAnswer===null}}">
			<h3 class="center">You answered :</h3>
			<div  class="col-md-8 col-md-offset-2 col-xs-12">
				<h3>{{currentAnswer.Name}}</h3>
			</div>
		</div>
	</div>
</div>