<!-- banner -->
<section id="banner">
	<h2>Are you ready for answering?</h2>
	<form>
		<div class="form-group" style="margin: 0 auto; width: 30%;">
			<label style="color: white; margin: 1em auto 0 auto;" for="inputQuizCode">Quiz Code</label>
			<input type="text" style="background-color: white;" class="form-control" id="inputQuizCode" placeholder="Quiz code here">
		</div>
		<div class="form-group" style="margin: 0 auto; width: 30%;">
			<label style="color: white; margin: 1em auto 0 auto;" for="inputStudentName">Student Name</label>
			<input type="text" style="background-color: white;" class="form-control" id="inputStudentName" placeholder="Your name here">
		</div>
	</form>
	<ul class="actions">
		<li>
			<a href="#" class="button big">Enter</a>
		</li>
	</ul>
</section>