<!-- Select the answers by their own preferences. -->
<section id="one" class="wrapper style1 special">
	<div class="container" style="width: 70%; max-width: 1200px">
		<header class="major">
			<h2>Quiz Name</h2>
			<p>Please select the answers you think are right.</p>
		</header>
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color1 fa-cloud">A</i>
					<h3>Cloud</h3>
					<p>We can neglect this part if it is not necessary</p>
				</section>
			</div>
			<div class="6u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color9 fa-desktop">B</i>
					<h3>Desktop</h3>
					<p>We can neglect this part if it is not necessary</p>
				</section>
			</div>
			<div class="6u$ 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color6 fa-rocket">C</i>
					<h3>Rocket</h3>
					<p>We can neglect this part if it is not necessary</p>
				</section>
			</div>
		</div>
	</div>
</section>