<!-- Joined, and waiting for other students -->
<section id="two" class="wrapper style2 special">
	<div class="container">
		<header class="major">
			<!-- We can change the "Joined" to another color, maybe white green. -->
			<h2>Joined</h2>
			<h2>Quiz Name</h2>
			<p>Please wait a little moment for other peers.</p>
		</header>
		<section class="profiles" style="border-bottom: 0">
			<!-- <div class="row"> -->
				<h3 style="margin: 0 auto 0 auto; width: 50%">3 students has joined now</h3>
				<h3 style="margin: 0 auto 0 auto; width: 50%">Waiting now...</h3>
				<!-- <section class="3u 6u(medium) 12u$(xsmall) profile">
					<img src="images/profile_placeholder.gif" alt="">
					<h4>Lorem ipsum</h4>
					<p>Lorem ipsum dolor</p>
				</section>
				<section class="3u 6u$(medium) 12u$(xsmall) profile">
					<img src="images/profile_placeholder.gif" alt="">
					<h4>Voluptatem dolores</h4>
					<p>Ullam nihil repudi</p>
				</section>
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<img src="images/profile_placeholder.gif" alt="">
					<h4>Doloremque quo</h4>
					<p>Harum corrupti quia</p>
				</section>
				<section class="3u$ 6u$(medium) 12u$(xsmall) profile">
					<img src="images/profile_placeholder.gif" alt="">
					<h4>Voluptatem dicta</h4>
					<p>Et natus sapiente</p>
				</section> -->
			<!-- </div> -->
		</section>
	</div>
</section>